<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <header>
        <img src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
        <input type="text"><!--barra de busqueda-->
        <p>Compra en cuotas y sin tarjeta de credito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
              
            </ul>
            <ul>
                <li><a href="">Crea tu cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis Compras</a></li>
              
            </ul>
               
        </nav>
    </header>
    <main>
        <section><!--seccion basada en tu ultima visita-->
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen de cafetera moulinex">
                <p>$ 6.700</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="imagen de macbook pro">
                <p>$ 230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen de tv samsug smart">
                <p>$ 23.200</p>
                <p>5% off</p>
                <h4>SmartTV Samsung 43"</h4>
            </article>
        </section>
        <section><!--seccion de Ofertas-->
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen de cafetera moulinex">
                <p>$ 6.700</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="imagen de macbook pro">
                <p>$ 230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen de tv samsug smart">
                <p>$ 23.200</p>
                <p>5% off</p>
                <h4>SmartTV Samsung 43"</h4>
            </article>   
        </section>
    </main>
    <footer>
        <article>
            <h4>Paga con tarjeta o en efectivo</h4>
            <p>Lorem, ipsum dolor.</p>
        </article>
        <article>
            <h4>Envío gratis desde los 2500</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias consequatur tempore asperiores ex!</p>
        </article>
        <article>
            <h4>Seguridad de principio a fin</h4>
            <p>Lorem, ipsum dolor.</p>
        </article>
        <p>Copyright</p>
    </footer>
</body>
</html>