/* === GENERAL === */
*{
    box-sizing: border-box; /* indica que los width y height que uno idica seran los finales, es decir incluye el padding y el border */
    margin: 0px;
    padding:0px; /* eliminó los puntitos de los listado y el distanciamiento entre elementos  */
}
.fa, .far, .fas {
    padding: 0 2px;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #000;

}
h2{
    font-size: 1rem;
}
h3{
    font-size: 23px;
}

/* === HEADER === */
header {
    position:relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: #EAC926;
    align-items: center;
    padding: 1%;/* le da un padding a todo el area amarilla */
    box-shadow: 0px 5px 5px 0px #66666661
}
.topbar-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
    text-align: center;
    align-items: center;

}
.logo-busq{
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}
.logo-busq img{
    width: 10rem;
    padding: 2%;
}

.main-navbar{
    display: none;
}
/* damos formato a los ul dentro del main-navbar */
.main-navbar ul{
    display: flex;
    list-style: none;
}
.main-navbar li{
    padding: 0.5rem;
}
.main-navbar li a{
    color: #222222;
    text-decoration:none;
    display: inline-block;
    padding: 2px 0;
    font-size: 1rem;
}
.burger-menu{
    color:white;
    font-size: 20px;
    display: block;
    width:fit-content;
    padding: 1% 1.5%;
    background-color:   #1259c3;
    border-radius:20%;
    margin:auto;
    text-align: center;
}

.banner img{
    width: 100%;
    object-fit: cover;
}
/*  === MAIN === */

main section {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section h3{
    align-self:flex-start ;
    padding: 2% 2%;
    flex-basis: 100%;
}

main section article{
    position: relative;
    width:15rem;
    height: auto;
    margin-bottom: 3%;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 5px #666 ;
    border-radius: 10px;
}
.description{ 
    opacity: 0;
    transition: all 320ms;
}
main section article:hover  .description{
    opacity: 1;
    }

main section article img{
   border-radius: 10px 10px 0px 0px;
   width: 100%;
   height: 100%;
   object-fit: cover ;
   border-bottom: rgb(45, 223, 10) solid 1px;;
}

main section article i.fas{
    position: absolute;
    background-color: white;
    bottom: 16%;
    right: 10px;
    color: rgb(45, 223, 10) ;
    border: rgb(45, 223, 10) solid 1px;
    border-radius: 50%;
    padding: 2% 1%;
    transition: all 320ms;
    
}
 i.fas.fa-truck:hover  {
    transform:rotate(-90deg);
}
main section article div{
    margin-bottom: 2%;
   
}
 
.descripcion{
    display: none;
}

/* === FOOTER === */
footer{
    text-align: center;
    background-color: #EAC926;
}
footer div article{
    padding: 2%;
}
footer article p{
    font-size: 0.8rem;
}
.derechos{
    font-size: 0.7rem;
}

@media (min-width:768px){
    .topbar-header{
        flex-direction: row;
        align-items: center;
        font-size: 1rem;
        justify-content: space-between;
    }
    .topbar-header h2{
        text-align: right;
        font-size: 1rem;
    }
    .copy-header{
        max-width: 300px;
    }
    .burger-menu{
        display: none;
    }
    .main-navbar{
        display:flex;
        justify-content: space-around;
        font-size: 1rem;
        width: 100%;
    }
    main section {
        flex-direction: row;
        flex-wrap: wrap;
    }
    

    main section article{
        width: 15rem;
        margin: 2%;
    }
    .description{ 
        opacity: 1;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .divFooter{
        display: flex;
    }
    .derechos{
        align-self: flex-start;
        margin-left: 3px;
    }
    
}
@media (min-width: 1200px){
    .topbar-header, .main-navbar{
        max-width: 1200px;
       
    }
    
    .topbar-header h2, .logo-busq,.main-navbar ul li a{
        font-size: 1.2rem;
    }
    .logo-busq img{
        width: 12rem;
    }
    .copy-header{
        max-width: none;
    }
    .main-navbar li a{
        font-size: 1.4rem;
    }
}